@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700,900");

:root {
  --main-color: #3a5db7;
  --dark-color: color-mix(in srgb, var(--main-color) 80%, black);
  --vdark-color: color-mix(in srgb, var(--main-color) 40%, black);
  --light-color: color-mix(in srgb, var(--main-color) 80%, white);
  --vlight-color: color-mix(in srgb, var(--main-color) 40%, white);
}

.octicon {
  display: inline-block;
  vertical-align: text-bottom;
  fill: currentColor
}

body {
  background: var(--dark-color);
  font-family: Lato, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  line-height: 1.7
}

.logo {
  font-style: italic
}

.navbar .logo {
  text-shadow: 2px 2px 5px rgba(0,0,0,0.1)
}

.content {
  background: var(--vlight-color);
}

.content .container {
  background: white;
  padding-top: 2em;
  padding-bottom: 2em
}

.content h1 {
  font-size: 20pt;
  padding-bottom: 0.2em;
  border-bottom: 3px solid var(--vlight-color);
  text-align: center;
  font-weight: bold;
  margin-bottom: 1em
}

.content h2 {
  font-size: 18pt;
  /*text-align: right;*/
  margin-top: 2em
}

.content h3 {
  font-size: 14pt;
  font-weight: bold;
  margin-top: 2em
}

.content h4 {
  font-size: 13pt;
  margin-top: 2em
}

.content h5 {
  font-size: 13pt;
}

.content blockquote {
  font-style: italic;
  border-left: 5px solid var(--vlight-color);
  padding-left: 1em;
  margin-left: 1em
}

.content .author {
  text-align: right;
  font-style: italic;
  color: var(--main-color);
}

.content .attrib {
  font-style: italic;
  color: var(--dark-color);
}

details h1, details h2, details h3 {
  display: inline-block;
}

.container img {
  max-width: 100%;
  /*hide the alt text*/
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  font-size: 0;
}
.container > .franklin-content{
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
}
.container p {
  text-align:justify;
}
.container p.p-image {
  max-width: 100%;
  text-align: center;
}

.lighter {
  font-weight: 300;
  letter-spacing: 1px
}

p a:hover, p a:visited:hover {
  color: var(--dark-color);
  text-decoration: none
}

p a, p a:visited {
  color: var(--main-color);
  border-bottom: 2px solid var(--vlight-color);
}

p a:hover {
  border-bottom: 2px solid var(--vlight-color);
}

.feature a:hover, .feature a:visited:hover {
  color: var(--dark-color);
  text-decoration: none
}

.feature a, .feature a:visited {
  color: var(--main-color);
  border-bottom: 2px solid var(--vlight-color);
}

.feature a:hover {
  border-bottom: 2px solid var(--main-color);
}

.call {
  padding-top: 2em;
  padding-bottom: 2em;
  text-align: center
}

.call p:last-child {
  margin: 0
}

.footer {
  margin-top: 1.5rem;
  margin-bottom: 3rem;
  color: white
}

.footer p {
  max-width: 100%;
}

.footer a, .footer a:hover, .footer a:visited, .footer a:visited:hover {
  color: white;
}

pre {
  margin: 0
}

pre code.hljs {
  background: #f5ffff;
  border: 2px solid var(--vlight-color);
  border-radius: 5px;
  padding-left: 1em;
  padding-right: 1em;
  margin-bottom: 1em;
}

.navbar-collapse.collapse.in {
  display: block !important
}

.jumbotron {
  margin-bottom: 0;
  position: relative;
  border-bottom: 1px thick;
}

.jumbotron .container {
  max-width: 750px;
  box-shadow: 2px;
  position: relative;
  padding: none;
  text-align: center;
}

.jumbotron .buttons {
  padding: 10px;
}

@media (min-width: 576px){
  .jumbotron .container{
    padding: calc(1rem + 30px) 15px;
  }
}

.jumbotron hr {
  border-top: 1px solid var(--vlight-color);
}

.jumbotron h1 {
  font-family: lato;
  font-style: italic;
}

/* Description */
.jumbotron {
  padding: 0;
}

.jumbotron p {
  font-size: 1.1em;
  margin-bottom: 1.5rem;
}

.btn-primary {
  color: var(--dark-color);
  border-color: var(--vlight-color);
  background: none;
  border-width: 2px;
}

.jumbotron .btn-primary:hover {
  color: rgb(0, 0, 0);
  border-color: var(--vdark-color);
  background: none;
  border-width: 2px;
}

/*Features*/
.features {
  background:white;
  padding-top:2em;
}

.feature {
  padding-top: 1em;
  padding-bottom: 2rem;
  letter-spacing: 0.1px;
}

.feature-title {
  text-align:center;
  color: var(--light-color);
}

.paper {
  padding: 1em;
}

.feature h5, .paper h5 {
  font-style: italic;
  padding-bottom: 0.5em;
}

.friends{
  background: #fff;
}
.friends .row {
  align-items: baseline;
}
.friends *{
  text-align: center;
  padding:10px;
}
.friends h3{
  margin-top: 50px;
}
.friends ul{
  display: flex;
  -webkit-justify-content: space-evenly;
  justify-content: space-evenly;
  flex-wrap: wrap;
  list-style: none;
  align-items: center;
}
.friends ul li{
  max-width: 200px;
  max-height: 100px;
  height: auto;
}
.friends img {
  height: auto;
  max-height:80pt;
  max-width:80%;
}

.tight-list p {
  margin-bottom: 0;
}
